:root {
  --clr-purple-500: #635fc7;
  --clr-purple-300: #a8a4ff;

  --clr-red-500: #ea5555;
  --clr-red-300: #ff9898;

  --clr-black-500: #000112;

  --clr-grey-800: #20212c;
  --clr-grey-600: #2b2c37;
  --clr-grey-500: #3e3f4e;
  --clr-grey-300: #828fa3;
  --clr-grey-200: #e4ebfa;
  --clr-grey-100: #f4f7fd;

  --clr-white: #ffffff;

  --fs-100: 1.2rem;
  --fs-200: 1.3rem;
  --fs-300: 1.5rem;
  --fs-400: 1.8rem;
  --fs-500: 2.4rem;
}
